.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
            to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%
    );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(90.04deg 38.86% 52.75%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.4rem;
        padding: 20px 100px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

#inputField, #submitBtn, #next {
    display: none;
}

.submit-container {
    display: flex;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -10%);
    width: 70%;
    justify-content: center;
}

#inputField {
    width: 60%;
    margin-right: 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(142, 142, 160);
    font-size: 17px;
    outline: none;
    padding: 0.5rem 1.2rem;
    line-height: 1.5;
    resize: none;
    overflow-y: auto;
    max-height: 300px;
}

#inputField::-webkit-scrollbar {
    width: 10px;
}

#inputField::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#inputField::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    cursor: pointer;
}

#inputField::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#inputField {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.next {
    border: none;
    padding: 1px 18px 4px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    position: absolute;
    top: 40%;
    font-size: 40px;
}

.next:hover {
    background-color: #555;
    color: white;
}