.chat-container {
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    transition: opacity 0.5s ease;
    overflow-y: auto;
    height: 600px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.message {
    margin-bottom: 25px;
    overflow: hidden;
}

.question, .feedback {
    float: left;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    clear: both;
    width: 60%;
}

.answer {
    float: right;
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    clear: both;
    width: 60%;
    margin-right: 20px;
}

.chat-container::-webkit-scrollbar {
    width: 10px;
}

.chat-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chat-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    cursor: pointer;
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}