.history {
    width: 400px;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: -3%;
}

.history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.history li {
    margin-bottom: 10px;
}

.history li div {
    margin-bottom: 10px;
    background-color: black;
    padding: 10px 50px;
    border-radius: 5px;
}

.history li span {
    font-weight: bold;
    color: #c4c3ca
}